<html>
<head>
  <title>
    Social Network App
  </title>
    <style>body{background-color: pink}</style>
</head>
<body>

<h1>Social Media App</h1>

<a href = "./social"> <button type="button">Facebook</button> </a>
<a href = "./twitter"> <button type="button">Twitter</button> </a>


</form>
</body>
</html>